<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exampotal</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </a>
    <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml20 " aria-label="Example icon-button with share icon">
      Signup
    </a>
  </mat-toolbar>