<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 80px;">

            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">

                    <img class="logo" src="../../../favicon.ico" alt="">
                </div>

                <h1 class="text-center" >Login</h1>
                <form action="">
                    <!-- user name field -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input required name="username" matInput placeholder="Enter Here">
                        <mat-hint >Enter Your Username </mat-hint>
                    </mat-form-field>
                    <!-- password field -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>User Password</mat-label>
                        <input required name="password" type="password" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit">Login</button>
                        <br>
                        <mat-hint > Create New Account <a href="sign">Signup</a> </mat-hint>

                    </div>
                </form>
            </mat-card>
            </div>


        </div>

    </div>

</div>
