<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 5px;">
            <mat-card>
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">

                    <img class="logo" src="../../../favicon.ico" alt="">
                </div>

                <h1 class="text-center" >Register</h1>

                <!-- {{user | json }} -->
                <form (ngSubmit)="formSubmit()">
                    <!-- user name field -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input
                        required
                        [(ngModel)]="user.username"
                        name="username"
                        matInput placeholder="Enter Here">
                        <mat-hint >User name must be unique!! </mat-hint>
                    </mat-form-field>
                    <!-- password field -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>User Password</mat-label>
                        <input
                        required
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <!--first Name  -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.firstname"
                        name="firstname"
                        matInput placeholder="Enter Here">
                    </mat-form-field>

                    <!-- last Name -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.lastname"
                        name="lastname"
                        matInput placeholder="Enter Here">
                    </mat-form-field>
                    <!-- email -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input
                        required
                        [(ngModel)]="user.email"
                        name="email"
                        type="email" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <!-- Phone Number -->
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input
                        required
                        [(ngModel)]="user.phone"
                        name="phone"
                        type="number" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary">Register</button>
                        <br>
                        <mat-hint >I Already have Account <a href="login">Login</a> </mat-hint>
                    </div>
                </form>
            </div>
        </mat-card>
        </div>

    </div>

</div>
