/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background: #f5f5f5;;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}

.ml20{
    margin-left: 20px !important;
}
.mr20{
    margin-right: 20px !important;
}
.ml20{
    margin-top: 20px !important;
}
.ml20{
    margin-bottom: 20px !important;
}
.ml40{
    margin-left: 40px !important;
}
.ml40{
    margin-right: 40px !important;
}
.ml40{
    margin-top: 40px !important;
}
.ml40{
    margin-bottom: 40px !important;
}
